body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden; /* Remove a barra de rolagem */
}

.image-container {
    position: relative;
    width: 110vw; /* Largura total da tela */
    height: 110vh; /* Altura total da tela */
}

#image {
    width: 120%;
    height: 110%;
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: transform 0.2s; /* Animação suave para o zoom */
    cursor: pointer; /* Muda o cursor para indicar que a imagem é interativa */
}
