body {
    margin: 0; /* Remove a margem padrão */
    overflow: hidden; /* Remove a barra de rolagem */
    background-color: black; /* Definindo o fundo preto */
}

.image-container {
    position: fixed; /* Mantém a imagem fixa na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Largura total da tela */
    height: 100vh; /* Altura total da tela */
    display: flex;
    align-items: center;
    justify-content: center;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: transform 0.2s; /* Animação suave para o zoom */
    cursor: pointer; /* Muda o cursor para indicar que a imagem é interativa */
}
