.container {
    position: relative;
    text-align: center;
}

.full-image {
    width: 100%;
    height: auto;
}

.botao-baixar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #7E32D6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.botao-baixar:hover {
    background-color: #5a24a8;
}
